{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}


<section class="content-wrapper">
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0"> List User </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="col-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h5 class="card-title m-0">List Detail User</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped" id="table-1">
                <thead>
                  <tr>
                    
                    <th>No.</th>
                    <th>KTA</th>
                    <th>Nama</th>
                    <th>Role</th>
                    <th>Status Aktif</th>
                    <th>Proses</th>
                  </tr>
                </thead>
                <tbody>
                  {% for a in dataListUser %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ a.user_kta }}</td>
                    <td>{{ a.user_nama }}</td>
                    <td>{{ a.user_role }}</td>
                    <td>{{ a.user_aktif }}</td>
                    <td>
                      <input type = "hidden" class = "hidnokta" value = "{{ a.user_kta }}" /> 
                      <a href="javascript:void(0)" title="Lihat Detail" onclick="showDetail(this)">
                      <i class="btn btn-success btn-xs">Detail</i>
                      </a>  

                      <input type="hidden" class="hidnokta" value="{{a.user_kta}}" />
                      <a href="javascript:void(0)" title="Hapus" onclick="hapus(this)">
                      <i class="btn btn-danger btn-xs">Hapus</i>
                      </a>  
             
                    </td>
                                     
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>
    </div>


  </div>
</section>



<div class="modal fade" id="modal-success" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Hapus Data</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
        <!-- <span aria-hidden="true">×</span> -->
        </button>
      </div>
      <div class="modal-body" id="modalBodySuccess">
        <p id="content-success"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-close-success" class="btn btn-outline-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-danger" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Peringatan</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" id="modalBodyDanger">
        <p id="content-danger"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-close-danger" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<script type="text/javascript">

function showDetail(obj)
{
    let no_kta = $(obj).siblings('.hidnokta').val();
    location = '/user/detail_user?n='+no_kta;
}


function alertSuccess(pesan){
  $("#modalBodySuccess #content-success").html(pesan);
  $('#modal-success').modal('show');
}

function alertWarning(pesan){
  $("#modalBodyDanger #content-danger").html(pesan);
  $('#modal-danger').modal('show');
}


function hapus(obj)
{
  var no_kta = $(obj).siblings('.hidnokta').val();

  if (confirm('Yakin Hapus User : '+no_kta+' ?')){
    $.post('/user/hapus_user',{no_kta : no_kta},
    function(data) 
    {
      if (data.status == "T") {
        alertSuccess(data.message);
        $("#btn-close-success").on("click", function(){
          document.location.reload();
        });
        

      }
      else
      {
        alertWarning(data.message);
        $("#btn-close-danger").on("click", function(){
          document.location.reload();
        });
        // document.location.reload();
      }
    },
    )
  }
  return false;
}

  
  
</script> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='assets/js/stisla.js')}}"></script>

<!-- Template JS File -->
<script src="{{ url_for('static', filename='assets/js/scripts.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/custom.js')}}"></script>

<!-- Page Specific JS File -->
<script src="{{ url_for('static', filename='assets/js/page/modules-datatables.js')}}"></script>


{% endblock content %}